[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.*DS_Store

# Files we don't want to track
config/eirairc/local.cfg
config/eirairc/servers.json
config/purpleirc/displayName.cache
config/purpleirc/uuid.cache
